main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
  color: #FFF;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 50%;
}

.hero p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 1.5rem;
  width: 50%;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero .stripe {
    position: relative;
    z-index: 1;
    top: 7px;
    width: 2000px;
    margin-left: -35px;
}

.hero .stripe-top {
      opacity: .7;
    border-radius: 40px 0 0 0;
    width: 60%;
    height: 70px;
    position: absolute;
    right: 0;
    left: auto;
    z-index: 2;
    background-color: #c97131;
}

.hero .stripe-middle {
  filter: brightness(110%);
    border-radius: 0 40px 0 0;
    width: 70%;
    height: 45px;
    position: relative;
    left: 0;
    right: auto;
    top: 25px;
    z-index: 5;
    background-color: #c97131;
}

.hero .stripe-bottom {
  width: 100%;
    height: 60px;
    position: relative;
    top: 25px;
    z-index: 10;
    background-color: #c97131;
}