.hero-dark-container .hero-dark-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-dark {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-dark h1,
.hero-dark h2,
.hero-dark h3,
.hero-dark h4,
.hero-dark h5,
.hero-dark h6,
.hero-dark p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-dark.no-image * {
  color: var(--text-color);
}

.hero-dark picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-dark img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-dark {
    padding: 40px 32px;
  }
}
