/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Adobe Fonts (Typekit) - canada-type-gibson */
@import url("https://use.typekit.net/mkv2oxu.css");

:root {
  /* First Business Bank Design Tokens - Colors */
  --ds-color-primary: #762a5b;
  --ds-color-primary-light: #a4347b;
  --ds-color-secondary: #6589b9;
  --ds-color-tertiary: #869837;
  --ds-color-accent: #c97131;
  --ds-color-text-base: #3c3e41d9;
  --ds-color-text-heading: #3c3e41;
  --ds-color-text-mid: #495057;
  --ds-color-text-light: #acb5bd;
  --ds-color-text-white: #fff;

  /* Gradients */
  --ds-color-gradients-plum: linear-gradient(180deg, #8f497b, #582547 60%);
  --ds-color-gradients-blue: linear-gradient(180deg, #6589b9, #3d4e6d 60%);
  --ds-color-gradients-green: linear-gradient(180deg, #839538, #5d6b2c 60%);
  --ds-color-gradients-orange: linear-gradient(180deg, #ca7131, #ab602b 60%);

  /* Legacy color mappings */
  --link-color: var(--ds-color-primary-light);
  --link-hover-color: var(--ds-color-primary);
  --text-color: var(--ds-color-text-base);
  --background-color: white;

  /* Shadows and Borders */
  --ds-shadow: -20px 20px 40px #0000001a;
  --ds-border-radius: 5px;
  --shadow: var(--ds-shadow);
  --border-radius: var(--ds-border-radius);

  /* Spacing System (8px base) */
  --ds-spacing-base: 8;
  --spacer-0: 0px;
  --spacer-1: 8px;
  --spacer-2: 16px;
  --spacer-3: 24px;
  --spacer-4: 32px;
  --spacer-5: 40px;
  --spacer-6: 48px;
  --spacer-7: 56px;
  --spacer-8: 64px;
  --spacer-9: 72px;
  --spacer-10: 80px;

  /* Container */
  --ds-spacing-container-max-width: 1100px;
  --ds-spacing-grid-gap: 28px;

  /* Typography */
  --ds-typography-header: "canada-type-gibson", sans-serif;
  --ds-typography-body: "canada-type-gibson", sans-serif;
  --ds-typography-scale: 1.414;

  /* Typography Sizes */
  --ds-typography-sizes-h-1-size: 4.5rem;
  --ds-typography-sizes-h-1-line-height: 5rem;
  --ds-typography-sizes-h-1-font-weight: 600;
  --ds-typography-sizes-h-1-mobile-size: 2.5rem;
  --ds-typography-sizes-h-1-mobile-line-height: 3rem;

  --ds-typography-sizes-h-2-size: 3rem;
  --ds-typography-sizes-h-2-line-height: 3.375rem;
  --ds-typography-sizes-h-2-font-weight: 600;
  --ds-typography-sizes-h-2-mobile-size: 2.0625rem;
  --ds-typography-sizes-h-2-mobile-line-height: 2.5rem;

  --ds-typography-sizes-h-3-size: 2.25rem;
  --ds-typography-sizes-h-3-line-height: 2.5rem;
  --ds-typography-sizes-h-3-font-weight: 600;
  --ds-typography-sizes-h-3-mobile-size: 2.25rem;
  --ds-typography-sizes-h-3-mobile-line-height: 2.25rem;

  --ds-typography-sizes-h-4-size: 1.5rem;
  --ds-typography-sizes-h-4-line-height: 1.5;
  --ds-typography-sizes-h-4-font-weight: 600;

  --ds-typography-sizes-h-5-size: 1.125rem;
  --ds-typography-sizes-h-5-line-height: 1.5;
  --ds-typography-sizes-h-5-font-weight: 600;

  --ds-typography-sizes-h-6-size: 0.875rem;
  --ds-typography-sizes-h-6-line-height: 1.125em;
  --ds-typography-sizes-h-6-font-weight: 600;

  /* Button Design Tokens */
  --ds-button-padding-small-horizontal: 16px;
  --ds-button-padding-small-vertical: 16px;
  --ds-button-padding-regular-horizontal: 32px;
  --ds-button-padding-regular-vertical: 25px;
  --ds-button-padding-large-horizontal: 48px;
  --ds-button-padding-large-vertical: 25px;
  --ds-button-border-radius: 4px;
  --ds-button-color-primary-foreground: #fff;

  /* Animation */
  --animation-speed-fast: 0.25s;
  --animation-speed-normal: 0.35s;
  --animation-speed-slow: 0.45s;

  /* EDS compatibility mappings */
  --body-font-family: var(--ds-typography-body);
  --heading-font-family: var(--ds-typography-header);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* Body sizes */
  --body-font-size-m: 1.125rem;
  --body-font-size-s: 1rem;
  --body-font-size-xs: 0.875rem;

  /* Heading sizes */
  --heading-font-size-xxl: var(--ds-typography-sizes-h-1-size);
  --heading-font-size-xl: var(--ds-typography-sizes-h-2-size);
  --heading-font-size-l: var(--ds-typography-sizes-h-3-size);
  --heading-font-size-m: var(--ds-typography-sizes-h-4-size);
  --heading-font-size-s: var(--ds-typography-sizes-h-5-size);
  --heading-font-size-xs: var(--ds-typography-sizes-h-6-size);

  /* Nav height */
  --nav-height: 105px;
}

@media (width <= 544px) {
  :root {
    --heading-font-size-xxl: var(--ds-typography-sizes-h-1-mobile-size);
    --heading-font-size-xl: var(--ds-typography-sizes-h-2-mobile-size);
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  font-weight: 200;
  line-height: 1.75;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  color: var(--ds-color-text-heading);
  text-transform: capitalize;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: var(--ds-typography-sizes-h-1-line-height);
  font-weight: var(--ds-typography-sizes-h-1-font-weight);
}

h2 {
  font-size: var(--heading-font-size-xl);
  line-height: var(--ds-typography-sizes-h-2-line-height);
  font-weight: var(--ds-typography-sizes-h-2-font-weight);
}

h3 {
  font-size: var(--heading-font-size-l);
  line-height: var(--ds-typography-sizes-h-3-line-height);
  font-weight: var(--ds-typography-sizes-h-3-font-weight);
}

h4 {
  font-size: var(--heading-font-size-m);
  line-height: var(--ds-typography-sizes-h-4-line-height);
  font-weight: var(--ds-typography-sizes-h-4-font-weight);
}

h5 {
  font-size: var(--heading-font-size-s);
  line-height: var(--ds-typography-sizes-h-5-line-height);
  font-weight: var(--ds-typography-sizes-h-5-font-weight);
}

h6 {
  font-size: var(--heading-font-size-xs);
  line-height: var(--ds-typography-sizes-h-6-line-height);
  font-weight: var(--ds-typography-sizes-h-6-font-weight);
}

.center {
  text-align: center;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p, ul {
  margin-bottom: var(--spacer-4);
}

b,
strong {
  font-weight: 500;
  color: var(--ds-color-text-heading);
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: #eee;
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* Links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  transition: all var(--animation-speed-fast) linear;
}

a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

/* Buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-flex;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 0 var(--ds-button-padding-regular-horizontal);
  height: 58px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: var(--ds-button-color-primary-foreground);
  background-color: var(--ds-color-primary);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: var(--ds-button-border-radius);
  box-shadow: var(--shadow);
  transition: all var(--animation-speed-fast) linear;
  align-items: center;
  justify-content: center;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--ds-color-primary-light);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: #eee;
  opacity: 0.7;
  cursor: not-allowed;
}

a.button.secondary,
button.secondary {
  background-color: #fff;
  border: 1px solid #fff;
  color: var(--ds-color-text-heading);
}

a.button.secondary:hover,
a.button.secondary:focus,
button.secondary:hover,
button.secondary:focus {
  color: var(--ds-color-primary);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* Sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: var(--ds-spacing-container-max-width);
    margin: auto;
  }
}

/* Section metadata */
main .section.light {
  background-color: #f6f6f6;
}

main .section.highlight {
  background-color: #eaeaea;
}

main .section.orange {
  background: var(--ds-color-gradients-orange);
  color: var(--ds-color-text-white);
}

main .section.orange h1,
main .section.orange h2,
main .section.orange h3,
main .section.orange h4,
main .section.orange h5,
main .section.orange h6,
main .section.orange p,
main .section.orange li {
  color: var(--ds-color-text-white);
}

main .section.plum {
  background: var(--ds-color-gradients-plum);
  color: var(--ds-color-text-white);
}

main .section.plum h1,
main .section.plum h2,
main .section.plum h3,
main .section.plum h4,
main .section.plum h5,
main .section.plum h6,
main .section.plum p,
main .section.plum li {
  color: var(--ds-color-text-white);
}

main .section.blue {
  background: var(--ds-color-gradients-blue);
  color: var(--ds-color-text-white);
}

main .section.blue h1,
main .section.blue h2,
main .section.blue h3,
main .section.blue h4,
main .section.blue h5,
main .section.blue h6,
main .section.blue p,
main .section.blue li {
  color: var(--ds-color-text-white);
}

main .section.green {
  background: var(--ds-color-gradients-green);
  color: var(--ds-color-text-white);
}

main .section.green h1,
main .section.green h2,
main .section.green h3,
main .section.green h4,
main .section.green h5,
main .section.green h6,
main .section.green p,
main .section.green li {
  color: var(--ds-color-text-white);
}

/* Lists */
ol {
  list-style-type: decimal;
  padding-left: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ol li,
ul li {
  margin-bottom: 8px;
}

ol > li > ol {
  list-style-type: lower-alpha;
}

ol > li > ol > li > ol {
  list-style-type: lower-roman;
}
